:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #274DD3;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  
  color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: uppercase;
}

  
h2 {
  text-transform: uppercase;
  color: #222;
  margin: 2em 0 1em 0;
  font-size: 2vw;
    font-weight: 900;
    opacity: 0.2;
}

h2:first-of-type {
  margin-top: 0;
}
button {
  border: 1px solid transparent;
  padding: 1em 1.5em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.main-layout {
  overflow: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Global Table Styles */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 12px 0 0 0;
  font-size: 0.98em;
  background: #fff;
}

.styled-table th, .styled-table td {
  border: 1px solid #e0e0e0;
  padding: 6px 10px;
  text-align: center;
  color: #333;
}

.styled-table th {
  background: #f4f4f4;
  color: #333;
  font-weight: 600;
}

.styled-table tr:nth-child(even) {
  background: #fafafa;
}

.styled-table tr:nth-child(odd) {
  background: #fff;
}

/* Special styles for period summary table */
.period-summary-scroll .styled-table th, .period-summary-scroll .styled-table td {
  border: 1px solid #CDD8FA;
  padding: 6px 10px;
  text-align: center;
  color: #222;
  font-size: 12px;
}

#trainings-hero-banner, #plan-hero-banner, #checklist-hero-banner {
  min-height: 313px !important;
}